<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, reprehenderit, maiores repellat voluptates ullam totam in sequi velit dolor explicabo est odit obcaecati doloribus! Voluptate nihil sequi est sunt laudantium.</p>

<%= link_to "I accept", announcements_path(:accepted => true), :class => "button success" %>
<%= link_to "I refuse", wizard_path(:refuse), :class => "button secondary" %>
